{% extends "layout@base.html" %}

{% block content %}
<main class="min-h-screen w-screen pt-24 pb-5 flex">
  <section class="max-w-[95%] w-[800px] flex gap-5 mx-auto">
    <div
      class="w-[200px] card shadow-xl shadow-black bg-black rounded-xl overflow-hidden hover:scale-105 transition-all self-start">
      <img
        src="https://sun9-77.userapi.com/impg/HJquvixJDUoQ1Z78ZHfU_kr-w9Lf0yamaP-DCQ/VDPE0j1FlhU.jpg?size=900x1600&quality=95&sign=f5ed202bcf80d5002f0c89bcfd79d523&type=album"
        class="select-none !pointer-events-none w-[200px] h-[200px] object-cover object-top" />
      <div class="card-body">
        <h5 class="card-title text-center font-bold h5 underline text-white">{{ username }}</h5>
      </div>
    </div>
    <section class="flex-auto flex flex-col gap-y-5">
      <div class="flex justify-around gap-x-2 items-center text-white font-bold font-mono text-xl">
        <a href={{ "/user/" + username+ "?s=animes" }}>Animes</a>
        <a href={{ "/user/" + username+ "?s=characters" }}>Characters</a>
      </div>
      <div class="w-full">
        {% for item in items %}
        <article
          class="flex gap-x-3 items-center py-3 px-3 rounded-2xl shadow-xl shadow-black hover:shadow-[#0d6efd] transition-all">
          <div class="overflow-hidden min-w-[100px] w-[100px]">
            <img class="w-full" src={{ item.image }} />
          </div>
          <p class="font-bold text-white text-lg font-mono flex-auto">
            <span class="underline ">{{ item.name }}</span>
          </p>
        </article>
        {% endfor %}
      </div>
    </section>
  </section>
</main>
{% endblock %}
